<!DOCTYPE html>
<html lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Cadastro de filme</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Cadastro de filme</h1>

    <form method="post" action="/movies">
        <div>
            <label for="name">Nome:</label>
            <input id="name" name="name">
        </div>

        <div>
            <label for="duration">Duração (em minutos):</label>
            <input id="duration" name="duration">
        </div>

        <div>
            <label for="year">Ano de lançamento:</label>
            <input id="year" name="year">
        </div>

        <div>
            <label for="category">Gênero:</label>
            <input id="category" name="category">
        </div>


        <button type="submit">Cadastrar</button>
    </form>
</div>
</body>
</html>
