<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Lista de filmes</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Lista de filmes</h1>

    <table>
        <thead>
        <tr>
            <th>NOME</th>
            <th>DURAÇÃO EM MINUTOS</th>
            <th>ANO DE LANÇAMENTO</th>
            <th>CATEGORIA</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${movies}">
            <td th:text="${movie.name}"></td>
            <td th:text="${movie.durationInMinutes}"></td>
            <td th:text="${movie.releaseYear}"></td>
            <td th:text="${movie.category}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
